{% extends 'base.html' %}

{% block title %}
    Add Pet 
{% endblock%}
  
{% block content %}
    <h1>Add Pet Form</h1>
    <form action = "POST">
        {{form.hidden_tag()}}
        {% for field in form 
            if field.widget.input_type != 'hidden' %}
        <p>
            {{field.label}}
            {{field}}

            {% for error in field.errors %}
            {{error}}
            {% endfor %}
        </p>
        {% endfor %}
        
        <button type = "submit" formaction = "/add" >Add</button>
        
    </form>
    <form action="">
        <button type= "submit" formaction = "/" formmethod = "GET">Cancel</button>
    </form>
{% endblock %}